* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.7s ease-in-out;
  box-sizing: border-box;
  font-family: Inter;
}

*:before *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  min-height: 600px;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: monospace;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1c1c1;
  outline: none;
  scroll-behavior: smooth;
}

input::-ms-clear {
  display: none;
}

textarea::-ms-clear {
  display: none;
}

input, textarea {
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
  background-color: transparent;
  color: #fff;
  border-color: rgba(237, 174, 1, 0.5) !important;
  resize: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  text-overflow: ellipsis;
  background-color: transparent;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  text-overflow: ellipsis;
  background-color: transparent;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  text-overflow: ellipsis;
  background-color: transparent;
}
input::-webkit-inner-spin-button, textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background-color: transparent;
}
input::-webkit-outer-spin-button, textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background-color: transparent;
}
input[type=number], textarea[type=number] {
  -moz-appearance: textfield;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

textarea:disabled {
  background-color: rgba(82, 54, 52, 0.9) !important;
  border: 1px solid rgba(82, 54, 52, 0.9) !important;
  color: rgba(255, 255, 255, 0.3) !important;
}

input:active, input:focus {
  outline: none !important;
}

button:active, button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-family: monospace;
  border-radius: 4px !important;
  color: #214e51 !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none !important;
}

video:active, video:focus {
  outline: none !important;
}

ul li {
  list-style: none;
}

p, h1, h2, h3, h4, h5, span, li, button, input {
  font-family: monospace;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background: black;
  border-radius: 4px;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: #edae01;
  border-radius: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 10px;
  background-image: url("../imgaes/man.svg");
  background-repeat: no-repeat;
  background-position: 580px 550px;
}
.form p {
  margin-left: 20px;
}
.form p span {
  margin-left: 20px;
}

.App {
  max-width: 980px;
  width: 99%;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 25px 0;
  cursor: default;
  position: relative;
  color: #fff;
  box-shadow: 0px -100px 65px -30px rgba(10, 10, 0, 0.3) inset;
  z-index: 1;
  background-image: url("../imgaes/backgroundApp.svg");
  background-position-y: 0;
  background-position-x: 0;
  animation: dotAnimation 15s linear infinite running;
}
@media screen and (max-width: 980px) {
  .App {
    width: 100%;
    height: 100%;
  }
}
.App h1 {
  font-size: 35px;
  text-align: center;
}
@media screen and (max-width: 570px) {
  .App h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 380px) {
  .App h1 {
    font-size: 20px;
  }
}
.App h2 {
  font-size: 30px;
}
@media screen and (max-width: 580px) {
  .App h2 {
    font-size: 20px;
  }
}
.App h2 span {
  color: #54bb8a;
}
.App h3 {
  font-size: 22px;
}
@media screen and (max-width: 380px) {
  .App h3 {
    font-size: 18px;
  }
}
.App p, .App li {
  font-size: 14px;
  margin: 0 5px 0 0 !important;
}
@media screen and (max-width: 680px) {
  .App {
    width: 100%;
  }
}
.App li {
  font-size: 14px;
  margin-bottom: 10px !important;
}
@media screen and (max-width: 680px) {
  .App {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .copyright {
    display: none;
  }
}

.datalist {
  width: 100%;
}

.inputName {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  padding: 0 15px;
  border-radius: 8px;
}
@media screen and (max-width: 380px) {
  .inputName {
    width: 100%;
    margin-bottom: 15px;
  }
}
.inputName:disabled {
  background-color: rgba(82, 54, 52, 0.9) !important;
  border: 1px solid rgba(82, 54, 52, 0.9) !important;
  color: rgba(255, 255, 255, 0.3) !important;
}

.btnClose {
  background-color: transparent;
  border: 1px solid rgba(237, 174, 1, 0.5);
  border-radius: 4px !important;
  color: white !important;
  position: absolute;
  top: 5px;
  right: 5px;
}
.btnClose:hover {
  background-color: #edae01;
  transform: translate(0px, -1px);
  color: #214e51 !important;
}

.cardHover {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  background-color: rgba(15, 38, 56, 0.7);
  border: 1px solid rgba(21, 51, 76, 0.5);
  transition: all 0.5s ease;
  animation: fall ease 0.3s forwards;
}
.cardHover b {
  font-weight: 100 !important;
}
.cardHover i {
  color: #ea7a54;
}

.cardBlock {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  .cardBlock {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.blockName {
  width: 55%;
  padding-right: 20px;
}
@media screen and (max-width: 880px) {
  .blockName {
    width: 100%;
    padding: 0;
  }
}

.blockIng {
  width: 54%;
}
@media screen and (max-width: 880px) {
  .blockIng {
    width: 100%;
  }
}
.blockIng li {
  font-weight: bold;
  margin-bottom: 6px;
}

.prodName {
  display: flex;
  animation: slideText 3s infinite ease;
  overflow-x: hidden;
  margin-left: 20px;
}
@media screen and (max-width: 880px) {
  .prodName {
    text-align: center;
  }
}

.activeIngridients {
  font-size: 20px !important;
  color: #ea7a54;
  animation: activeIngrAnimation linear 2s infinite;
}

@keyframes activeIngrAnimation {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(240deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes slideText {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(45deg);
  }
  100% {
    transform: rotateX(0);
  }
}
.imageShow {
  width: 380px;
  height: 260px;
  border-radius: 4px;
  margin: 20px 0 30px 0;
}
@media screen and (max-width: 880px) {
  .imageShow {
    width: 100%;
    height: 100%;
    margin: 30px auto;
  }
}
@media screen and (max-width: 380px) {
  .imageShow {
    width: 100%;
  }
}
.imageShow img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.inputGroup {
  max-width: 100%;
  margin: 25px 0;
}

.input-group {
  flex-wrap: nowrap !important;
  z-index: 50;
  padding: 0 5%;
}

@keyframes fall {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.buttonAddPosition {
  position: absolute;
  bottom: 10px;
  left: 30px;
  z-index: 1;
}

.buttonCleanPosition {
  position: absolute;
  bottom: 10px;
  right: 30px;
  z-index: 1;
}

.react-tags__selected-tag-name {
  color: #ea7a54;
}

.react-tags__selected-tag, .react-tags__search {
  border-color: rgba(237, 174, 1, 0.5) !important;
}

.textBlok {
  max-height: 280px;
  overflow-y: auto;
  margin-top: 30px;
}
@media screen and (max-width: 880px) {
  .textBlok h3 {
    font-size: 18px;
  }
}
.textBlok p {
  font-size: 18px !important;
  line-height: 20px;
}
@media screen and (max-width: 880px) {
  .textBlok p {
    font-size: 14px !important;
  }
}

.firstScreenLogo {
  max-width: 350px;
  width: 80%;
  margin: 30px;
  transform: rotateZ(0deg);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .firstScreenLogo {
    width: 40%;
  }
}

.rotatinAnimationLoad {
  animation: 1s linear 1s infinite slideinL;
}

@keyframes slideinL {
  0% {
    transform: rotateX(10deg);
  }
  25% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  75% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.enterIngredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes dotAnimation {
  100% {
    background-position-y: -25%;
  }
  75% {
    background-position-y: 25%;
  }
  50% {
    background-position-y: 50%;
  }
  25% {
    background-position-y: 75%;
  }
  0% {
    background-position-y: 120%;
  }
}

/*# sourceMappingURL=App.css.map */
